# ASSIGNMENT 1 DAY 2

# QUESTION 1

In [1]:
Name = "I Love LetsUpgrade"

In [2]:
Name.lower()

'i love letsupgrade'

In [3]:
Name.capitalize()

'I love letsupgrade'

In [4]:
Name.swapcase()

'i lOVE lETSuPGRADE'

In [5]:
Name.isprintable()

True

In [7]:
Name.startswith("I")

True

# QUESTION 2

In [17]:
lst = [1,2,3,4,"Kinjal Mehta",5.6,6.2,7.3]

In [18]:
lst.reverse()

In [19]:
lst

[7.3, 6.2, 5.6, 'Kinjal Mehta', 4, 3, 2, 1]

In [20]:
lst.insert(5,"LetsUpgrade")

In [21]:
lst

[7.3, 6.2, 5.6, 'Kinjal Mehta', 4, 'LetsUpgrade', 3, 2, 1]

In [22]:
lst.pop()

1

In [23]:
lst.append("Hello")

In [24]:
lst

[7.3, 6.2, 5.6, 'Kinjal Mehta', 4, 'LetsUpgrade', 3, 2, 'Hello']

In [25]:
lst.clear()

In [26]:
lst

[]

# Question 3

In [27]:
dit = {"name": 'Kinjal', "title": "Mehta"}

In [28]:
dit

{'name': 'Kinjal', 'title': 'Mehta'}

In [29]:
dit["number"]=98460

In [30]:
dit

{'name': 'Kinjal', 'title': 'Mehta', 'number': 98460}

In [31]:
dit.get("number")

98460

In [32]:
dit.values()

dict_values(['Kinjal', 'Mehta', 98460])

In [33]:
dit.setdefault("name")

'Kinjal'

In [34]:
dit.popitem()

('number', 98460)